 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
}
 
.centroPrincipal {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* Header */
 
.header {
    display: flex;
    justify-content: space-between; /* Distribui logo e navegação */
    align-items: center; /* Alinha itens verticalmente no centro */
    padding: 20px;
}
 
.logo {
    display: flex;
    align-items: center; /* Alinha logo e texto lado a lado */
}
 
.imgLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Faz a logo ficar em um círculo */
    object-fit: cover; /* Garante que a imagem se ajuste ao círculo */
    margin-right: 15px; /* Espaço entre a logo e o texto */
}
 
.main-header {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}
 
.logoTxt {
    font-size: 1.8em;
    font-weight: 600;
    color: #000000;
}
 
.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
 
.main-nav ul li {
    margin: 0 15px;
}
 
.main-nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
    transition: color 0.3s ease;
}
 
.main-nav ul li a:hover {
    color: #808080;
}
 
/* Hero Section */
.hero {
    background: url('imagem.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    height: 100vh;
    animation: parallaxScroll 10s infinite linear;
}
 
.hero h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-out;
}
 
.hero p {
    font-size: 1.4em;
    margin-bottom: 30px;
    animation: slideIn 2s ease-out;
}
 
.cta-btn {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(139, 139, 139, 0.4);
    transition: background-color 0.3s, transform 0.3s;
    animation: pulse 2s infinite;
}
 
.cta-btn:hover {
    background-color: #919191;
    transform: scale(1.1);
}
 
/* Services Section */
.services {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}
 
.services h3 {
    font-size: 3em;
    margin-bottom: 50px;
    animation: fadeIn 1.5s ease-in-out;
}
 
.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 
.service-item{
    width: 30%;
    background-color: rgba(181, 199, 214, 1);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicia invisível */
    transform: translateX(-100px); /* Inicia fora da tela à esquerda */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave */
}
 
.service-item.animate {
    opacity: 1; /* Torna visível */
    transform: translateX(0); /* Move para a posição final */
}
 
 
.service-item h4 {
    font-size: 1.8em;
    color: #00bfa5;
    margin-bottom: 20px;
}
 
.service-item p {
    color: #ffffff;
    font-size: 1.1em;
    line-height: 1.6;
}
 
/* MISSÂO */
.mission {
    background-color: #ffffff;
    padding: 50px 20px;
}
 
.misON {
    margin: 0 auto;
    padding: 20px 0;
    opacity: 0; /* Inicia invisível */
    transform: translateX(100px); /* Inicia fora da tela à esquerda */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave */
}
 
.misON.animate {
    opacity: 1; /* Torna visível */
    transform: translateX(0);
}
.titMis {
    font-size: 2em;
    color: #333333;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}
 
.txtMis {
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 10px;
    text-align: left;
}
 
.txtMis2 {
    font-size: 1em;
    color: #666666;
    line-height: 1.6;
    text-align: left;
}
 
.misON2 {
    display: flex;
    align-items: flex-start;
    /*margin: 20px auto;*/
    width: 80vw;
    opacity: 0; /* Inicia invisível */
    transform: translateX(-100px); /* Inicia fora da tela à esquerda */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave */
}
 
.misON2.animate {
    opacity: 1; /* Torna visível */
    transform: translateX(0); /* Move para a posição final */
}
 
 
.imgMis {
    width: 471px;
    height: 471px;
    border-radius: 15%;
    object-fit: cover;
    margin-right: 100px;
}
 
.txtMis3 {
    font-size: 1.2em;
    margin-top: 125px;
    flex: 1;
}
 
.tilMis {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}
 
.pTxt {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}
 
/*AI*/
.ourAI {
    background-color: #ffffff;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0; /* Inicia invisível */
    transform: translateX(100px); /* Inicia fora da tela à esquerda */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave */
}
 
.ourAI.animate{
    background-color: #ffffff;
    opacity: 1; /* Torna visível */
    transform: translateX(0); /* Move para a posição final */
}
.ai {
    flex: 1;
    margin-right: 20px;
}
 
.titAi {
    font-size: 2em;
    color: #333333;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}
 
.txtAIz {
    display: flex;
    flex-direction: column;
}
 
.txtAi {
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 10px;
    max-width: 573px; /* Adicionado para limitar a largura */
}
 
.txtAi2 {
    font-size: 1em;
    color: #666666;
    line-height: 1.6;
    max-width: 572px; /* Adicionado para limitar a largura */
}
 
.btnAI {
    margin-top: 53px;
    width: 190px;
    height: 64px;
    background: #3494AD;
    border-radius: 40px; /* Ajuste do border-radius para ficar mais sutil */
    color: white; /* Cor do texto */
    border: none; /* Remover borda padrão */
    cursor: pointer; /* Cursor pointer para indicar clicável */
    transition: background-color 0.3s; /* Efeito de transição */
}
 
.btnAI:hover {
    background: #287f9c; /* Efeito hover */
}
 
.imgAIc {
    display: flex;
    align-items: center;
}
 
.imgAi {
    width: 100%; /* Ajustar para ocupar 100% do espaço disponível */
    max-width: 471px; /* Tamanho máximo */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 15%; /* Arredondamento de bordas */
}
 
 
 
/* Footer */
.main-footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
 
.main-footer p {
    margin: 0;
    font-size: 1em;
    color: #bbb;
}
 
/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
@keyframes slideIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
 
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
 
@keyframes parallaxScroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
 
 
 
 